# 阿里云服务器地址
VITE_SERVER_HOST=your_server_host

# 静态数据服务地址 (开发环境走Vite代理，避免CORS)
VITE_SERVER_DATA_URL=/data

# GeoServer 地址
VITE_GEOSERVER_URL=http://your_server_host:8080/geoserver

# 天地图 Key (https://console.tianditu.gov.cn 注册获取)
VITE_TDT_KEY=your_tdt_key

# Cesium Ion Token (https://cesium.com/ion/tokens 注册获取)
VITE_CESIUM_TOKEN=your_cesium_token

# 地形服务地址
VITE_TERRAIN_URL=https://data.mars3d.cn/terrain
